.playground__content__screenshot {
	max-width: 500px;
}

span.artb-5286 {
	line-height: 1;
	font-size: 1em;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #f69 75%);
	font-weight: 700
}

span.artb-5287 {
	line-height: 1;
	font-size: 1em;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #6f6 75%);
	font-weight: 700
}

span.artb-5289 {
	line-height: 1;
	font-size: 1em;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #ff6 75%);
	font-weight: 700
}

span.artb-5288 {
	line-height: 1;
	font-size: 1em;
	background-image: repeating-linear-gradient(-45deg, #6cf, #6cf 2px, transparent 2px, transparent 4px);
	background-size: 100% .6em;
	padding-bottom: .6em;
	background-position: 0 center;
	background-repeat: no-repeat;
	font-weight: 700
}

.components-tooltip .components-popover__content span.artb-5286 {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #f69 75%);
	font-weight: 700
}

.components-tooltip .components-popover__content span.artb-5287 {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #6f6 75%);
	font-weight: 700
}

.components-tooltip .components-popover__content span.artb-5289 {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #ff6 75%);
	font-weight: 700
}

.components-tooltip .components-popover__content span.artb-5288 {
	background-image: repeating-linear-gradient(-45deg, #6cf, #6cf 2px, transparent 2px, transparent 4px);
	background-size: 100% .6em;
	padding-bottom: .6em;
	background-position: 0 center;
	background-repeat: no-repeat;
	font-weight: 700
}
